<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Krt</title>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../public/css/style.css" />
	<link rel="stylesheet" href="../../../public/css/jquery.mCustomScrollbar.css" />
</head>
<body>
<header>
<section id="header-izquierda">
	<img width="165" src="../../../public/images/logo.png">
</section>
<section id="header-derecha">
	<section id="login"><a href="#">Login</a><a href="#">Crear Cuenta</a></section>
		<nav>
			<li>
				<a href="#">Discoteques</a>
				<a href="#">Pubs</a>
				<a href="#">Restaurantes</a>
				<a href="#">Botillerias</a>
				<a href="#">Fastfood</a>
				<a href="#">Radiotaxis</a>
			</li>
		</nav>
		<div class="clear"></div>
</section>
<div class="clear"></div>
</header>
<section id="slideshow">
	<img src="../../../public/images/slide/1.jpg">
</section>
<section id="contenedor">
<section id="principal">
	<section id="recomendacion">
	    <div class="tooltip"></div>
		<div id="menu-icono">
		<li>
		<a alt="Recomendación KRT" id="recomendacion-k" href="#"></a>
		<a alt="Recomendación Perfíl" id="colaborativo" href="#"></a>
		<a alt="Comida Internacional" id="todo" href="#"></a>
		<a alt="Top" id="top" href="#"></a>
		<a alt="Mensaje a un amigo" id="mensaje" href="#"></a>
		<a alt="Ruta" id="ruta" href="#"></a>		
		</li>
		</div>
		<div id="busqueda">
			<input type="text" name="busqueda" /><input type="submit">
		</div>
		<div id="resultado-recomendacion">
		<div class="fotos"><img src="../../../public/images/locales/1.jpg"></div>
		<div class="fotos"><img src="../../../public/images/locales/2.jpg"></div>
		<div class="fotos"><img src="../../../public/images/locales/3.jpg"></div>
		<div class="fotos"><img src="../../../public/images/locales/4.jpg"></div>
		<div class="fotos"><img src="../../../public/images/locales/2.jpg"></div>
		<div class="fotos"><img src="../../../public/images/locales/4.jpg"></div>
		<div class="fotos"><img src="../../../public/images/locales/1.jpg"></div>
		<div class="fotos"><img src="../../../public/images/locales/3.jpg"></div>
		<div class="fotos"><img src="../../../public/images/locales/4.jpg"></div>
		<div class="fotos"><img src="../../../public/images/locales/3.jpg"></div>
		<div class="fotos"><img src="../../../public/images/locales/2.jpg"></div>
		<div class="fotos"><img src="../../../public/images/locales/1.jpg"></div>
		<div class="clear"></div>
		
			

		</div>
	</section>
<aside>
<div class="caja-comentario">
	<div class="autor">@andres</div>
	<div class="comentario">Excelente atencion en pizzeria kakaroto, la mejor pizza que he probado en mi vida</div>
</div>
<div class="caja-comentario">
	<div class="autor">@andres</div>
	<div class="comentario">Excelente atencion en pizzeria kakaroto, la mejor pizza que he probado en mi vida</div>
</div>
<div class="caja-comentario">
	<div class="autor">@andres</div>
	<div class="comentario">Excelente atencion en pizzeria kakaroto, la mejor pizza que he probado en mi vida</div>
</div>
<div class="caja-comentario">
	<div class="autor">@andres</div>
	<div class="comentario">Excelente atencion en pizzeria kakaroto, la mejor pizza que he probado en mi vida</div>
</div>
<div class="caja-comentario">
	<div class="autor">@andres</div>
	<div class="comentario">Excelente atencion en pizzeria kakaroto, la mejor pizza que he probado en mi vida</div>
</div>

</aside>
<div class="clear"></div>
</section>
<section id="publicidad">
	<img src="../../../public/images/publicidad/1.jpg">
</section>
<section id="noticias">
	
	<article class="noticia1">
	   <div class="caja"><span>Participa por la gran oportunidad de asistir gratis a este increible show</span></div> 
		<img src="../../../public/images/noticias/1.jpg">
	</article>
	<article class="noticia2">
	  <div class="caja"><span>Famosa orquesta se presenta el 12 de enero</span></div> 
		<img src="../../../public/images/noticias/2.jpg">
	</article>
	<div class="clear"></div>

</section>
</section>
<footer>
<section id="footer-color">
	
	<section id="footer-contenedor">
	<section id="contacto">
	<span>Contacto</span>
	<li>
		<a href="#">prueba</a>
	</li>
		

	</section><section id="servicios">
	<span>Servicios</span>
			<li>
		<a href="#">prueba</a>
	</li>
	</section><section id="zona-clientes">
	<span>Zona Clientes</span>
			<li>
		<a href="#">prueba</a>
	</li>
	</section><section id="logo-pie"></section>
	<div class="clear"></div>
</section>
</section>



<section id="footer-detalles">
	<span>www.krt.cl +569 66208304- contacto@krt.cl</span>
</section>
</footer>
<script src="../../../public/js/script.js"></script>
</body>
</html>