html,body{
	padding: 0;
	margin: 0;
	font-family: helvetica,arial;

}
a{
  text-decoration: none;
  color: white;
}
ul,li{
	list-style: none;
}
header{
	width: 1200px;
	height: 120px;
	background: black;
	display: block;
	margin: auto;
}
section#slideshow{
	width: 100%;
	height: 250px;
	display: block;
	background: pink;
	margin-bottom: 20px;
}
section#slideshow img{
	width: 100%;
	height: 250px;
	object-fit: cover;
}
section#header-izquierda{
width: 30%;
height: 100%;
float: left;
box-sizing: border-box;
padding: 15px 0px;
}
section#header-derecha{
width: 70%;
height: 100%;
float: left;	
position: relative;
}
section#login{
width:200px;
background: red;
display: block;
float: right;
box-sizing: border-box;
padding: 10px;
text-align: right;

}


section#login a{
padding: 10px;
}
nav{
	width:100%;
	height: 25%;
	display: block;
	float: right;
	position: absolute;
    bottom: 0;
    text-align: right;

}
section#noticias img{
    height: 300px;
    width: 100%;
    object-fit: cover;

}
div#menu-icono li a{
width: 80px;
height: 39px;
display: block;
background: red;
float: left;
margin-right:1px; 
}
div#menu-icono li a#recomendacion-k{
background: url(../images/menu-iconos/recomendacion-k.jpg);
background-repeat:no-repeat;
    background-size:contain;
}
div#menu-icono li a#colaborativo{
background: url(../images/menu-iconos/colaborativo.jpg);
background-repeat:no-repeat;
    background-size:contain;
}
div#menu-icono li a#todo{
background: url(../images/menu-iconos/total.jpg);
background-repeat:no-repeat;
    background-size:contain;
}
div#menu-icono li a#top{
background: url(../images/menu-iconos/top.jpg);
background-repeat:no-repeat;
    background-size:contain;
}
div#menu-icono li a#mensaje{
background: url(../images/menu-iconos/mensaje.jpg);
background-repeat:no-repeat;
    background-size:contain;
}
div#menu-icono li a#ruta{
background: url(../images/menu-iconos/ruta.jpg);
background-repeat:no-repeat;
    background-size:contain;
}
nav li a{
	margin: 5px;
}
div.diferencia{
	width: 100%;
	height: 15%;
	display: block;
	float: right;
}
body{
	width: 100%;
	height: 100%;
	display: block;
	background: black;

}
footer{
	width: 100%;
	height: 400px;
	background: pink;
	display: block;
}

section#contenedor{
	width: 1200px;
	
	display: block;

	margin: auto;
}
section#principal{
	width: 100%;
	
}
div.fotos img{
	width: 240px;
	height: 150px;
	display: block;
}
section#recomendacion{
	width: 80%;
	height:100%;
	float: left;
}
section#publicidad{
	width: 100%;
	height: 120px;
	background: white;
	margin-top:20px;
	margin-bottom: 20px; 
}
div#anuncio{
	width: 100%;
	height: 120px;
	background: white;
	margin-top:20px;
	margin-bottom: 20px; 
}
aside{
width: 20%;
float: left;

}

div.clear{
	clear: both;
}

div#menu-icono{
width: 100%;
height: 40px;
display: block;

}
div#busqueda{
width: 100%;
height: 40px;
display: block;
background: red;
padding:10px;
box-sizing: border-box; 
}
div#resultado-recomendacion{
width: 100%;

display: block;
background: white;
}
div.fotos{
	width: 240px;
	height: 150px;
	background: gray;
	display: block;
	float: left;
}

article.noticia1{
	width: 60%;
	height: 300px;
	position: relative;
	display: block;
	background: red;
	float: left;
	box-sizing: border-box;


}
article.noticia1 img{
	width: 540px;
}
article.noticia2 img{
	width: 342px;
}
div.caja {
width: 100%;
height: 150px;
position: absolute;
bottom:0px;
font-size:20px;
font-weight: bold;
color: white;
background: rgba(0,0,0,0.7);
padding:20px;
box-sizing: border-box;

}
section#publicidad img{
	width: 100%;
	height: 120px;
	object-fit: cover;
}
div#anuncio img{
	width: 100%;
	height: 120px;
	object-fit: cover;
}
article.noticia2{
	width: 38%;
	height:300px;
	display: block;
	background: red;
	position: relative;
	float: right;
}
article.noticia2 img{

}
div.caja-comentario{
	width: 100%;
	padding: 20px;
	height: 106px;
	color: white;
	font-size: 12px;
	box-sizing: border-box;
	border:1px white; 
	border-style:dashed;
}
.tooltip {

    position: fixed; /** depends on how it handles the e.pageX and e.pageY **/
    padding: 12px 17px;
    background:rgba(68,41,20,0.85);
    font-weight: 700;
    z-index: 10;
    display: none; /**let the tooltip be not visable, when startup **/
    color: white;
    font-size: 13.5px;
    letter-spacing: 0.5px;
    font-family: arial;


    }
#header-izquierda img{
width: 165px;
}
section#footer-contenedor{
    width: 1200px;
    height: 400px;


    margin: auto;
    padding:15px;
    box-sizing: border-box;
}
section#footer-detalles{
	width: 100%;
	height: 20%;

	border-right: 1px solid black;
	box-sizing: border-box;
	padding:5px;
}
section#footer-detalles span{
	margin: auto;
    width: 500px;
    color: white;
    display: block;
}
section#logo-pie{
	width: 46%;
	height: 100%;
	float: left;
	
	box-sizing: border-box;
	padding:5px;

}
section#contacto{
	width: 17%;
	height: 100%;
	float: left;
	color: white;

	border-right: 1px solid black;
	box-sizing: border-box;
	padding:5px;
}
section#contacto li{
	margin-top: 10px;

}
section#servicios{
	width: 17%;
	height: 100%;
	float: left;
	color: white;
	border-right: 1px solid black;
	box-sizing: border-box;
	padding:5px;
	
}
section#servicios li{
	margin-top: 10px;

}
section#zona-clientes{
	width: 20%;
	height: 100%;
	float: left;
    color: white;
	box-sizing: border-box;
	border-right: 1px solid black;
	padding:5px;
	
}
section#zona-clientes li{
	margin-top: 10px;

}

section#footer-color{
	width: 100%;
	display: block;
	    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#303030+0,171717+100 */
background: #303030; /* Old browsers */
background: -moz-linear-gradient(top,  #303030 0%, #171717 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #303030 0%,#171717 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #303030 0%,#171717 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#171717',GradientType=0 ); /* IE6-9 */
}